---
layout: index
---
    		<section id="intro">
    			<div class="intro-container inner">     
      				<section class="statement fadeInUp animated">
        				<p>{{ site.description }}</p>
					</section>
   				 </div> <!-- .intro-container -->
    		</section> <!-- #intro -->
    		
    		<section id="about" class="inner clearfix">
    			<h2>About</h2>
      			<div class="col col-two">
					<div class="bio clearfix">
          				{% include UserBio.html %}
					</div>
				</div>
				
				<div class="col col-one">
        			<img src="http://www.gravatar.com/avatar/{{ site.gravatar_HASH }}?s=200" class="avatar"/>
      			</div>
      			<div class="elsewhere">
        			{% include social.html %}
      			</div>
      		</section> <!-- #about --> 
      		
			<section id="contact" class="grey">
    			<div class="inner clearfix">
      			<h2>Get in Touch</h2>
      			<p><span>If you have any questions, I would love to hear from you.</p>
				<ul id="response">
      			</ul>      
      			<form action="javascript:sendMail()" method="post" class="clearfix">
          			<fieldset class="col1">
            		<label class="hidden" for="name">Your name</label>
        			<input type="text" name="name" id="name" placeholder="Your name" />
            		<label class="hidden" for="email">Your name</label>
        			<input type="text" name="email" id="email" placeholder="Your email address" />
          			</fieldset>

          			<label class="hidden" for="comments">Your message...</label>
          			<textarea name="comments" id="comments" placeholder="Your message..."></textarea>	

      				<div class="button clearfix"><input type="submit" name="submit" id="submit" value="Send""/></div>
      				<script>
      					function sendMail(){
      						var href="";
    						var name = $('input#name').val();
    						var email = $('input#email').val();
    						var comments = $('textarea#comments').val();
    						if(name==""){
    							alert("Please leave your name.");
    							return;
    						}
    						if(email.search(/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/) != -1){
    							href = "mailto:" + "{{ site.email }}" + "?subject=" + "Hi, {{ site.user_name }}" + 
    							"&body=" + comments + "%0A%0A" + name + "%0A" + email;
    							window.location.replace(href);
    							return;
    						}
    						else{
    							alert("Invalid email address.");
    							return;
    						}
						}
					</script>
      			</form>    
      
   				 </div>
  			</section> <!-- #contact -->